body {
  background-color : rgb(240,255,251);
  color : rgb(83,132,153);
  margin : 0;
}
.text {
  margin-left : 21%;
  padding : 1px 16px;
}
nav {
  list-style-type : none;
  margin: 0;
  padding: 0;
  width: 20%;
  height: 100%;
  position: fixed;
  height: 100%;
  overflow: auto;
  background-color: rgb(83,132,153);
}

li a {
  display: block;
  padding: 8px 16px;
  text-decoration : none;
  color : rgb(172,194,204);
}

li a.active {
    background-color: rgb(172,194,204);
    color: rgb(83,132,153);
}

li a:hover:not(.active) {
    background-color: rgb(172,194,204);
    color: rgb(83,132,153);
}


mark {
  background-color: rgb(172,194,204);
}
